<div class="container p-4">
  <h1 class="font-bold text-4xl">Sobre a Igreja Presbiteriana Reformada no Brasil</h1>
  <p class="my-4">A Igreja Presbiteriana Reformada no Brasil é uma comunidade cristã que busca viver e propagar os princípios da fé reformada, com base na autoridade das Escrituras Sagradas. Nossa missão é glorificar a Deus em todas as áreas da vida, pregando o evangelho de Jesus Cristo e formando discípulos comprometidos com a verdade bíblica.</p>
  <p class="my-4">Acreditamos na soberania de Deus, na salvação pela graça, e na centralidade da Palavra de Deus em nossa adoração, ensino e prática. Como parte da tradição presbiteriana, valorizamos a liderança colegiada, a disciplina bíblica e a vida comunitária, entendendo que a igreja é o corpo de Cristo, chamado para ser luz e sal no mundo.</p>
  <p class="my-4">Nossa missão é alcançar e edificar pessoas, oferecendo um espaço de adoração, ensino e comunhão, onde todos possam crescer na graça e no conhecimento de nosso Senhor Jesus Cristo. Através de cultos, estudos bíblicos, discipulado e ação social, buscamos ser uma igreja fiel aos princípios da Reforma Protestante e à vocação de transformar vidas pelo poder do evangelho. </p>
  <p class="my-4"> Se você deseja conhecer mais sobre a fé reformada e fazer parte dessa jornada de fé, convidamos você a se juntar a nós em nossa caminhada, experimentando a graça transformadora de Deus. </p>
</div>
